@model Vidly.Models.CustomerViewModel.CustomerIndexViewModel
@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>
@if (Model.Customers.Count == 0)
{
    <text>We don't have any customers yet.</text>
}
else
{
    <table class="table table-hover table-bordered">
        <tr>
            <th>Customers</th>
        </tr>

        @foreach (Customer cust in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink(cust.Name, "Details", "Customers", new {Id = cust.Id })</td>
            </tr>

        }

    </table>
}




