@model List<Customer>
@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>
@if (Model == null)
{
    <text>We don't have any customers yet.</text>
}
else
{
    <table class="table table-hover table-bordered">
        <tr>
            <th>Customers</th>
        </tr>

        @foreach (Customer cust in Model)
        {
            <tr>
                <td>@Html.ActionLink(cust.Name, "Details", "Customers", new {Id = cust.Id })</td>
            </tr>

        }

    </table>
}




